.incomplete-task-container {
    border: 1px solid black;
    width: 40vw;
    margin: 5vw;
}

.incomplete-task-list>h3{
    text-align: center;
}

.new-task-container {
    /* border: 1px solid black; */
    width: 30vw;
    text-align: center;
    position: relative;
    left: 35vw;
}

.new-task-btn {
    width: 10vw;
    height: 5vh;
}

#output-container{
    margin: 1em;
    padding: 1em;
    width: fit-content;
}
/* .eventPage-container{
    height: 70vh;
} */
.event-card{
    margin: 1em;
    padding: 1em;
    height: fit-content;
}
article:first-child{
    background-color: rgb(240, 153, 240);
    padding: 1em;
    font-weight: bolder;
    font-size: large;
    border: 7px ridge grey;
}
#event-form{
    border: 7px ridge rgb(0, 195, 255);
    margin: 1em;
    padding: 1em;
    font-weight: bold;
}
#add-form-btn{
    margin-left: 37%;
}
.col.event-form-column{
    margin: 3em;
    padding: 1em;   
} 
#events-container{
    margin: 1em;
    padding: 2em;
    overflow-y: scroll;
    height: 80%;
}
.col.event-container-column {
    height: 73vh;
}
#chat-container{
    height: 25vh;
    overflow:auto; 
    margin-top: 2em;
    margin-bottom: 1em;
    border: 1px solid black;
    width: 97vw;
    justify-content: center;
    align-items: center;
}
#chat-output{
    margin-bottom: 2em;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}
.edit-chat-message{
    margin-left: 2em;
    font-size: 15px;
}
.delete-chat-message{
    font-size: 15px;
}
#new-chat-message{
    width: 97vw;
    margin-bottom: 1em;
}
.news-input-bar{
    margin: 1em;
    width: 50%;
}

.news-card-input {
    width: 90%;
}

.news-btn{
    margin: 1em;
    color: white;
}

a{
    color: white;
}

.news-card{
    margin: 1em;
}

#news-results-container{
    display: flex;
    flex-wrap: wrap;
}

.tag-select{
    font-weight: bold;
    margin: 1em;
}
#register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#register-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
}
#register-user-submit{
    margin-top: 1em;
    margin-bottom: 1em;
}
#register-form-container input{
    margin-top: 1em;
}
#register-error-container{
    color: red;
    font-weight: bold;
}