#output-container{
    margin: 1em;
    padding: 1em;
}
.card{
    margin: 1em;
    padding: 1em;
    width: 50%;
}
article:first-child{
    background-color: yellow;
    padding: 1em;
    font-weight: bolder;
    font-size: larger;
    border: 1em ridge grey;
}
#event-form{
    border: 5px ridge rgb(0, 195, 255);
    margin: 1em;
    padding: 1em;
    width: 30%;
    font-weight: bold;
}
#add-event-btn{
    margin-left: 9em;
}